html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 2%;
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

@media only screen and (min-width: 900px) {
  #app {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
