html,
body {
  height: 100%;
  width: 100%;
  /* Builds are ending up with 992px !important on body
  I think this is coming from Bootstrap, but not sure why
  Tried going back to bs@4.3.1, no difference */
  min-width: 0px !important;
  padding: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  padding-top: 70px;
  padding-bottom: 2%;
  background-color: #96e6a1;
}

@media only screen and (min-width: 900px) {
  #app {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

path {
  /* Pass pointer events through to the parent svg element */
  pointer-events: none;
}
