:root {
  --spotifyGreen: rgb(29, 185, 84);
}

.card {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 10vw;
  min-width: 145px;
}

.cardArtist {
  position: relative;
  max-width: 100%;
  height: auto;
  color: white;
}

.cardArtist svg {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  z-index: 1;
  opacity: 0.3;
}

.cardArtist:hover svg {
  transform: scale(1.1);
  opacity: 1;
}

.cardTitle {
  padding: 0 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.cardSvg {
  transition: all 150ms ease-in-out;
}

.cardSvg:hover {
  transform: scale(1.1);
}

.card img,
.card svg {
  cursor: pointer;
}

/* play button loading class is on parent element
queue button loading class is on the svg */
.loading svg,
svg.loading {
  opacity: 1;
  animation: shadow-pulse 1s infinite;
}
.success svg,
svg.success {
  opacity: 1;
  color: var(--spotifyGreen);
}

.play {
  border-radius: 50%;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px var(--spotifyGreen);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
