:root {
  --spotifyGreen: rgb(29, 185, 84);
}

.card {
  border-radius: 10px;
  width: 10vw;
  min-width: 152px; /* Max width that fits 2 side-by-side on iphone SE */
  background-color: rgb(30, 28, 54);
  color: #fff;
}

.cardArtist {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  height: 10vw; /* Match card width */
  min-height: 152px; /* Match card width */
}

.cardArtist svg {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  opacity: 0.3;
}

.cardArtist:hover svg {
  transform: scale(1.1);
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 1;
}

.cardTitle {
  padding: 0 2%;
  margin: 4px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.cardSvg {
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.cardSvg:hover {
  transform: scale(1.1);
}

.card img {
  cursor: pointer;
}

/* play button loading class is on parent element
queue button loading class is on the svg */
.loading svg,
svg.loading {
  opacity: 1;
  animation: shadow-pulse 1s infinite;
}
.success svg,
svg.success {
  animation: fade-later 4s;
}

.play {
  border-radius: 50%;
}

@keyframes fade-later {
  0% {
    color: var(--spotifyGreen);
    opacity: 1;
  }
  75% {
    color: var(--spotifyGreen);
    opacity: 1;
  }
  100% {
    color: inherit;
  }
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px var(--spotifyGreen);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
