.scrollbar {
  position: fixed;
  top: calc(28px + 50%); /* halfway down, plus half of navbar height */
  right: 0;
  transform: translate(0, -50%); /* For vertically centering */
  width: calc(1rem + 4px);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px 0 0 5px;
  transition: width 0.2s;
}

.scrolling {
  width: calc(1rem + 14px);
}

.letter {
  display: block;
  margin: -6px;
}

.letter:first-of-type {
  margin-top: 0px;
}

.letter:last-of-type {
  margin-bottom: 0px;
}
